<!DOCTYPE html>
<html>
<head>
  <title>It's DinnerTime</title>
  <link rel="stylesheet" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'></head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<h1> Template Header </h1>
<body>

<%- body -%>


</body>
  <script src="app.js"></script>
</html>
