
<form action="/new" method= "post">
  <input type="text"
         name="recipe"
         value="recipe">

  <input type="text"
         name="ingredients"
         value="ingredients">

  <input type="submit" value="Submit">
</form>
